html{font-size: 62.5%;
      margin: 0;
       padding: 0;}
@media screen and (max-width: 480px) {
    html {
        font-size: 50%;
    }
}

@media screen and (max-width: 400px) {
    html {
        font-size: 40%;
    }
}
body{width: 100%;
     max-width: 640px;
    margin: 0 auto;}
.container{width: 100%;
             max-width: 640px;
             min-width: 320px;
             overflow: hidden;
             background-color: lightseagreen;
              position: relative;}
.head{
       background-color: lightseagreen;
       font-size: 2.5rem;
        text-align: center;
        color: #ffffff;
        padding: 2% 0;
        }
.head .three{float: left;}
.head .fork{float: right;}
.head h2{margin: 0;padding: 0;}
.head img{vertical-align: middle;}
.wrap{
       font-size: 2.5rem;
       color:lightblue;
       background-color:steelblue;
       padding: 2% 0;
       margin-top: 5%;
        text-indent: 5%;
        position: relative;}
.circle{width: 4rem;
         height: 4rem;
          background-color: burlywood;
          border-radius: 50%;
           float: right;
           position: absolute;
           top:18%;
           right: 4%;}
.d1{width: 0;
    height: 0;
    border-top: 1.4rem solid transparent;
    border-bottom: 1.4rem solid transparent;
    border-left: 2.8rem solid chocolate;
    position: absolute;
    top: 18%;
    right: 5%;}
.main .text1{font-size: 2rem;
               color: #ffffff;
               padding-left: 6%}
.role{margin: 0 5%;
       overflow: hidden;}
.box{float: left;
     box-sizing:border-box;
     width: 24%;
     margin: 4% 0 2% 7%;
     text-align: center;
     }
.box .people{font-size: 2.5rem;
              border: 3px solid #ffffff;
              background-color: burlywood;
              padding: 25% 0;
              }
.box .number{font-size: 2rem;
               color: #ffffff;
               text-align: center;}
.box-bottom{width: 100%;
              margin-top: 5%;
              opacity: 0;}
ul {list-style: none;}
.box-bottom .li{display: inline-block;
                  float: left;
                  width: 25%;
                  padding: 12.5% 0;
                  -webkit-background-image: url("images/cssgaga.png");
                  background-repeat: no-repeat;
                   }
li i{display: inline;
      float: left;
      }
.cat1{background-position: 0 0;}
.cat2{background-position: 34% 0;}
.cat3{background-position: 67% 0;}
.cat4{background-position: 100% 0;}
.box:hover .box-bottom{opacity: 1;}
.foot{background-color: chocolate;
       position: fixed;
        bottom: 0;
        width: 100%;
        max-width: 640px;
        text-align: center;
       }
.foot button{background-color: blueviolet;
               font-size: 4rem;
                padding: 5% 30%;
                margin: 5% auto;  }



